[Unit]
Description=Hourly uptimed upload to goprecords (zen)

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
